In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data (1).csv')
df.head(10)

  Scholar No    Name of Student
0  211112201          AMRIT RAJ
1  211112202          AMRIT RAJ
2  211112204    OJAS ROHIT BHAT
3  211112205        MANAV GUPTA
4  211112206      ESHIKA KUMARI
5  211112207      VAIBHAV GUPTA
6  211112208  RAJNEESH KUSHWAHA
7  211112209    AADARSH JAISWAL
8  211112210      PARAG MAHAJAN
9  211112211   MOHD ZISHAN KHAN

In [20]:
x = pd.Series(df['Scholar No']).to_numpy()
x = x.tolist()
print(x)
print(type(x))

['211112201', '211112202', '211112204', '211112205', '211112206', '211112207', '211112208', '211112209', '211112210', '211112211', '211112212', '211112213', '211112214', '211112215', '211112216', '211112217', '211112218', '211112219', '211112220', '211112221', '211112222', '211112223', '211112224', '211112225', '211112226', '211112227', '211112228', '211112229', '211112230', '211112231', '211112232', '211112233', '211112234', '211112235', '211112236', '211112237', '211112238', '211112239', '211112240', '211112241', '211112242', '211112243', '211112244', '211112245', '211112246', '211112247', nan, nan, 'TABLE 2', nan, '211112248', '211112249', '211112250', '211112251', '211112252', '211112253', '211112254', '211112255', '211112256', '211112257', '211112258', '211112259', '211112260', '211112261', '211112262', '211112263', '211112264', '211112265', '211112266', '211112267', '211112268', '211112269', '211112270', '211112271', '211112272', '211112273', '211112274', '211112275', '211112276', '211112277', '211112278', '211112279', '211112280']
<class 'list'>

In [11]:
y = pd.Series(df['Name of Student']).to_numpy()
y = y.tolist()
print(y)
print(type(y))

['AMRIT RAJ', 'AMRIT RAJ', 'OJAS ROHIT BHAT', 'MANAV GUPTA', 'ESHIKA KUMARI', 'VAIBHAV GUPTA', 'RAJNEESH KUSHWAHA', 'AADARSH JAISWAL', 'PARAG MAHAJAN', 'MOHD ZISHAN KHAN', 'SUDHANSU SHEKHAR KANHAR', 'RISHI GUPTA', 'ADITYA PRATAP SINGH RAJPUT', 'MADHUR GYANI', 'SAMRIDDHI TRIPATHI', 'AMAN RAJORIYA', 'PULKIT BHASKAR', 'B B P VISHNU VARDHAN', 'JAYESH DARBAR', 'MOHIT DHURVE', 'UTTAM SETHI', 'AMAN SAHU', 'TILAK MANGAL', 'HARSH RAJ', 'TANISHK SHARMA', 'HARSHIT SINGH THAKUR', 'ETTE DIVYA NIKITHA', 'AMAN ANAND', 'ANANT KUMAR TIWARI', 'TRISHAL MAKHIJA', 'VEDANT RATHORE', 'ADITI MISHRA', 'MOHIT MAHOR', 'TALUPULA SREEDHARAN', 'BHUPELLI VINAY', 'KRISHUN UDDESHIYA', 'SIDDHANT PATIL', 'RINKI KURMI', 'KARTIK SHRIVASTAV', 'NATHA GEETHIKA SRI', 'AYUSHI VERMA', 'SANSKAR VERMA', 'KARIRA KISHORE VIJAY', 'VIKASH PAL', 'KALASH MANTRI', 'SHIVANI NARWARIYA', nan, nan, nan, nan, 'DEEPANSHU JAIN', 'PARTH RAJPUT', 'NELLUTLA PRANAV', 'AKSHAY SONI', 'ASHAY JAIN', 'AKSHAT MAHESHWARI', 'PRATHAM PALI', 'VAISHNAVI GUPTA', 'MUFADDAL SAIFEE', 'ANAND KUMAR', 'PRATEEK KUMAR TRIPATHI', 'DEVENDRA', 'SANSKAR KUMAR', 'SHASWAT KASHYAP', 'VAIBHAV PATEL', 'SUNNY KUMAR SINGH', 'FALGUNI SURESH BHOWATE', 'RISHIKESH KADA', 'PRAKHAR SAXENA', 'PAVIT CHHABRA', 'NIKET RALEBHAT', 'MURAMREDDY OMKARNATH REDDY', 'MOHAN KUMAR', 'DASARI KEERTHI', 'AKSHAT SAXENA', 'ADITI SINGH', 'BALAM SAINADH', 'ADITYA KUMAR', 'SHIVAM PRABHU', 'KARTIK TIWARI', 'RAJAT', 'SAATVIK TAMMISHETTY', 'RAMA BHALA']
<class 'list'>

In [21]:
a = '211112221'
b = 'MOHIT DHURVE'

for p,q in zip(x,y):
    if p == a and q == b:
        print('yes')
        break

yes

In [7]:
# for name match
y = pd.Series(df['Name of Student']).to_numpy()
y = y.tolist()
print(type(y))

<class 'list'>

In [8]:
name = 'MOHIT DHURVE'

for b in y:
    if b == name:
        print('yes')
        break

yes

In [9]:
print(type(y),type(name))

<class 'list'> <class 'str'>

In [10]:
for a, b in zip(x,y):
    if a == y and b == name:
        print('yes')
        break
print('no')

no